/* - - - </> [NAV] </> - - - */
.navigation
{
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background: var(--color_001);
    box-shadow: -10px 0px 30px 1px rgb(27, 27, 27, .5);
}

/* - - - </> [DIV] </> - - - */
.navigation-image
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* - - - </> [IMG] </> - - - */
.navigation-logo
{
    width: 40%;
    transition: all .2s ease-in-out;
}

/* - - - </> [IMG] </> - - - */
.navigation-logo:hover
{
    filter: none;
    cursor: pointer;
    transform: scale(1.1);
}

/* - - - </> [UL] </> - - - */
.navigation-list
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* - - - </> [LI] </> - - - */
.navigation-item
{
    width: 100%;
    height: 50%;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    justify-content: center;
}

/* - - - </> [ICON] </> - - - */
.navigation-icon
{
    z-index: 1;
    font-size: 24px;
    line-height: 100%;
    position: absolute;
    color: var(--color_003);
}

/* - - - </> [LINK] </> - - - */
.active .navigation-icon
{
    color: var(--color_001);
}

/* - - - </> [ICON] </> - - - */
.navigation-active
{
    width: 100%;
    height: 80%;
    display: flex;
    line-height: 100%;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--color_003);
}

/* - - - </> [DIV] </> - - - */
.navigation-action
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px)
{
    /* - - - </> [NAV] </> - - - */
    .navigation
    {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px)
{

}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px)
{
    
}