
/* - - - </> [NAV] </> - - - */
.navigation
{
    margin: 0;
    width: 100%;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* - - - </> [UL] </> - - - */
.navigation-list
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* - - - </> [LI] </> - - - */
.navigation-item
{
    list-style-type: none;
}

/* - - - </> [LINK] </> - - - */
.navigation-link
{
    font-size: 14px;
    text-decoration: none;
    color: var(--color_002);
}

/* - - - </> [LINK] </> - - - */
.navigation-link:hover
{
    color: var(--color_003);
}

/* - - - </> [LINK] </> - - - */
.active
{
    padding-bottom: 6px;
    color: var(--color_003);
    border-bottom: 2px solid var(--color_003);
}