/* - - - </> [DIV] </> - - - */
.places-list
{
    width: 80%;
    cursor: default;
    overflow-y: scroll;
    scrollbar-width: none;
}

/* - - - </> [DIV] </> - - - */
.places-list::-webkit-scrollbar
{
    display: none;
}

/* - - - </> [DIV] </> - - - */
.place-card
{
    padding: 20px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid 2px var(--color_003);
}

/* - - - </> [DIV] </> - - - */
.place-wrapper
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* - - - </> [TEXT] </> - - - */
.place-name
{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

/* - - - </> [ICON] </> - - - */
.place-name-icon
{
    color: var(--color_003);
}

/* - - - </> [TEXT] </> - - - */
.place-cost
{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

/* - - - </> [DIV] </> - - - */
.place-rating-score
{
    width: 30%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
}

/* - - - </> [ICON] </> - - - */
.place-rating-star
{
    font-size: 20px;
}

/* - - - </> [TEXT] </> - - - */
.place-address
{
    margin: 0;
    font-size: 12px;
}