/* - - - </> [FORM] </> - - - */
.formulary-place
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* - - - </> [DIV] </> - - - */
.formulary-place-row
{
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* - - - </> [DIV] </> - - - */
.formulary-place-row > div:nth-child(1)
{
    margin-right: 20px;
}

/* - - - </> [DIV] </> - - - */
.formulary-place-col
{
    width: 50%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* - - - </> [TEXT] </> - - - */
.formulary-title
{
    margin: 0;
    font-size: 3vw;
    font-weight: 800;
    line-height: 100%;
}

/* - - - </> [TEXT] </> - - - */
.formulary-title span
{
    color: var(--color_003);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px)
{
    /* - - - </> [DIV] </> - - - */
    .formulary-place-row
    {
        flex-direction: column;
    }

    /* - - - </> [DIV] </> - - - */
    .formulary-place-row > div:nth-child(1)
    {
        margin-right: 0;
        margin-bottom: 25px;
    }

    /* - - - </> [DIV] </> - - - */
    .formulary-place-col
    {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px)
{

}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px)
{
    
}